.form-container{
    width: 100%;
    background-color: #0000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.form-main{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}
.form-left{
    width: 40%;
    display: flex;
    height: 100%;
    justify-items: center;
    align-items: center;
}
.form-left h1{
    color: white;
    text-align: center;
    padding-bottom: 15vw;
    line-height: 1.2;
    font-size:5vw;
}
.form-left span{
    color: #FF6E31;
}
.form-heading{
    width: 100%;
}
.form-right{
    width: 60%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.form-right p{
    color: white;
    font-weight: 700;
}
.form-fill{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.line{
    display: flex;
    gap: 1vw;
    font-size: 3vw;
}
.line input{
    background-color: #000000;
    border: none;
    color: #8A8A93;
    font-weight: 900;
    cursor: pointer;
    padding-inline: 2vw;
    border-bottom: 3px solid #8A8A93;
}
::placeholder{
    font-weight: 900;
    color: #8A8A93;
}

.line input:focus{
    outline: none;
    box-shadow: none;
    background-color: #1d1c1c69;
    border: none;
    color:#FF6E31;
    
}
.work {
    width: 25vw; 
}
.name{
    width: 20vw;
}
.email {
    width: 30vw; 
}
.submit{
    width: 50%;
    background-color: none;
}
.submit-text{
    padding-block: 2rem;
}
.submit-text:hover {
    cursor: pointer;
}
.submit-button{
    background-color: #000000;
    font-size: 2vw;
    text-align: left;
    margin: 0;
    padding: 0;
}
.submit-button:hover{
    background-color: #000000;
    color: #FF6E31;
}

@media (max-width: 788px){
    .form-main{
        flex-direction: column;
    }
    .form-left h1{
        color: white;
        text-align: center;
        padding-bottom: 1vw;
        line-height: 1.2;
        font-size:5vw;
        width: 100%;
    }
    .form-right{
        width: 100%;
        align-items: center;
    }
    .work {
        width: 40vw; 
    }
    .name{
        width: 30vw;
    }
    .email {
        width: 40vw; 
    }
    .form-fill{
        gap: 2vw;
    }
    .submit{
        width: 70%;
    }
    
}